<p id="notice"><%= notice %></p>

<strong>Ticks for <%= @this_user.name %>:</strong>

<table class="table">
  <thead>
    <tr>
      <th>The Tick</th>
      <th>The Time</th>
    </tr>
  </thead>
  <tbody>
  <% @this_user.ticks.each do |tick| %>
    <tr>
      <td><%= tick.detail %></td>
      <td><%= tick.created_at %></td>
    </tr>
  <% end %>
  </tbody>
</table>
