<div class="container">
  <h2>Leader Board</h2>

  <table class="table bordered highlight">
    <tr>
      <th>Name</th>
      <th>Total Ticks</th>
      <th></th>
    </tr>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= link_to user.ticks.count, user_path(user) %></td>
      <td><% if user == current_user %><%= link_to "Create Tick", new_tick_path, class: "btn primary" %><% end %></td>
    </tr>
    <% end  %>
  </table>
<%= paginate @users %>

</div>
